html, body {
  margin: 0;
  padding: 0;
}
div#container {
  display: relative;
}
.wrapper {
  width: auto;
  height: auto;
}
#canvas {
  position: absolute;
  min-width: 453px;
  min-height: 280px;
}
