!!! 5
%html(lang='en')
  %head
    %meta{:charset => 'utf-8'}
    %title De Guide System
    %link{:rel => 'stylesheet', :href => '/Users/zurongchung/Desktop/AnimateName/plugins/deguide/app/assets/css/ui.css'}
  %body

    .guides-container.hide
      %svg(id="guidesBox" width="1521" height="549" viewBox="0 0 1521 549"  xmlns="http://www.w3.org/2000/svg")
        %g(id="groupGuides")
    = add_fragment @appUI
    %script(src='/Users/zurongchung/Desktop/AnimateName/libs/dist/jquery.js')
    %script(src='../assets/javascripts/deguide.js')
  